<div class="container m-5">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <span class="h3">Lista de empleados</span>
        <button class="btn btn-dark btn-lg float-rigth" routerLink="/create">
          Agregar
        </button>
      </div>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Salario</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>393939202</td>
            <td>2500000</td>
            <td class="d-flex align-items-center">
              <span class="material-icons-outlined mr-3 text-info">
                rate_review </span
              ><span class="material-icons-outlined text-danger"> delete </span>
            </td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>393939202</td>
            <td>2500000</td>
            <td></td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>393939202</td>
            <td>2500000</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
